:root {
    --main-font-family: Inter, sans-serif;
    --accent-font-family: 'Press Start 2P', fantasy;
     --main-background: #000;
    --accent-color: #00CC14;
    --title-font-weight: "wght" 785;
    --text-font-weight: "wght" 465;
    --background-color: #000;
    --background-color-first: #007F0C;
    --background-color-second: #004306;
    --image-text-color: #000;
    --color-button-text: #00CC14;
    --color-heart: #ff0000;
}
